source https://www.nuget.org/api/v2
//source https://ci.appveyor.com/nuget/suave-wwf4q3qudake

nuget Suave 1.1.2
nuget Suave.Experimental 1.1.2
nuget Akka
nuget Akka.FSharp
nuget FSharp.Core
nuget FSharp.Data
nuget FAKE
nuget FSharp.Compiler.Service
nuget Newtonsoft.Json

gist mastoj/43331973297ae3a8da8b
