source https://www.nuget.org/api/v2

nuget Suave
nuget Suave.Experimental
nuget Akka
nuget Akka.FSharp
nuget FSharp.Data
nuget FAKE
nuget FSharp.Compiler.Service
nuget Newtonsoft.Json

gist mastoj/43331973297ae3a8da8b
