source https://www.nuget.org/api/v2

nuget Suave 2.0.0-alpha3
nuget Suave.Experimental 2.0.0-alpha3
nuget Akka
nuget Akka.FSharp
nuget FSharp.Core
nuget FSharp.Data
nuget FAKE
nuget FSharp.Compiler.Service
nuget Newtonsoft.Json

gist mastoj/43331973297ae3a8da8b
